.flex{
    display: flex;
}

.margin{
    margin: 0 1rem;
}

.headings{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 1.50rem; color: rgb(66, 66, 66);
    margin-left: 2.5rem; padding-bottom: 2rem; padding-top: 2rem;
}

.container{
    padding-left: 3vw; padding-right: 3vw; 
    padding-top: 1.3rem; padding-bottom: 1.3rem;
}

.items-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.uppercase{
    text-transform: uppercase;
}

.semibold{
    font-weight: bolder;
}

.mx-2{
    margin-left: 12px; margin-right: 12px; 
}

.home-images img{
    height: auto; width: auto; 
}

.category img{
    width: auto;
}